* {
  margin: 0;
  padding: 0;
}

body {
  padding: 200px 0 50px;
}

#app {
  position: relative;
  top: 0;
  left: 0;
}

#field {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

#gameover {
  position: absolute;
  top: 1px;
  left: calc(50% - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 4px;
  background: #000a;
  width: 500px;
  height: 300px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
#gameover:hover {
  background: #000c;
}
#gameover span {
  text-decoration: underline;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: blue;
  width: 20px;
  height: 20px;
}

.wall {
  position: absolute;
  top: 0;
  width: 20px;
  height: 300px;
}

.wallTop,
.wallBottom {
  position: absolute;
  left: 0;
  border-radius: 4px;
  background: green;
  width: 20px;
}

.wallTop {
  top: 0;
}

.wallBottom {
  bottom: 0;
}

#score {
  border-radius: 4px;
  background: #333;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

